.dropMsgContainer{
    display: flex;
    margin-left: 6rem;
    margin-top: 10rem;
    margin-bottom: 2rem;
}

.dropMsgContainerleftSide{
    flex: 0.6;
}

.socialHandlerUL{
    justify-content: center;
    list-style: none;
    display: flex;
    margin-left: -3.9rem;
    text-align: center;
}

.socialHandlerULLI{
    padding-left: 1.6rem;
}

.dropMsgContainerrightside{
    width: 30vw;
    height: 80vh;
    margin-left: 10rem;
    margin-top: 1.95rem;
    padding: 3rem;
    background: url("../Resources/Rectangle9482.png") no-repeat;
    border-radius: 50px 50px 50px 50px;
    color: white;
}

#loveSpan{
    display: block;
    margin-top: -1rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

form{
    height: 50vh;
}



.nameInputContainer{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 1.5rem;
    width: 24rem;
    border-radius: 5px;
}

.descriptionContainer{
    width: 24rem;
    height: 4rem;
    border-radius: 4px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.sendButton{
    margin-top: 2rem;
    height: 3rem;
    width: 14rem;
    background-color: black;
    color: white;
    font-weight: 700;
}

.dropMsgContainerleftSide>h3{
    width: 18vw;
    font-size: 24px;
}

.dropMsgContainerleftSide>p{
    width: 27vw;
    margin-top: -0.81rem;

}

.gif1{
    margin-left: 1.5rem;
    margin-top: -1.2rem;
    height: 31rem;
}
.pinkLine{
    margin-bottom: -1.52rem;
    height: 1vh;
    width: 7vw;
    border: none;
    border-top: 5px solid #F050BE;
}

.socialMediaSection{
    margin-top: -2rem;
    width: 10vw;
}

.twitter{
    margin-top: 0.31rem;
}